@model IEnumerable<COGERTI.Models.LinhaMovel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalSite.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAssociacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLiberacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotivoLiberacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermoResponsabilidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinhaNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChipId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDdd.DddCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusLinha.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoLinha.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPlanoMovel.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalSite.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAssociacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLiberacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotivoLiberacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermoResponsabilidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinhaNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChipId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoDdd.DddCodigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusLinha.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoLinha.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPlanoMovel.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
