@model COGERTI.Models.Computador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalSite.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalSite.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patrimonio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patrimonio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propriedade.Lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propriedade.Lote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusEquipamento.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusEquipamento.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoComputador.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoComputador.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
